client/response.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="result" type="resultType"/>

    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element name="message" type="xs:string"/>
            <xs:element name="node" type="nodeType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="nodeType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="attr_name" type="xs:string"/>
            <xs:element name="attr_value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
